.App {
  text-align: center;
}

.daily-container {
  display: flex;
  justify-content: flex-start;
  /* max-height: 390px; */
}

.daily-content {
  background-color: rgb(31, 31, 31);
  min-width: 300px;
  padding: 50px;
  border-radius: 45px;
  color: white;
}

.weather-temp-area {
  display: flex;
  gap: 30px;
  align-items: end;
  padding-top: 20px;
}

.weather-temp {
  font-size: 70px;
}

.weather-icon {
  width: 70px;
}

.weather-line {
  border-bottom: 2px solid rgb(160, 159, 159);
  border-radius: 10px;
}

.weather-desc {
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.weather-date-area {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.weather-location-area {
  display: flex;
  gap: 10px
}

.weather-location-icon {
  width: 15px
}

.weather-location {
  display: flex;
  gap: 10px;
}

.daily-information {
  padding-top: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
