.highlight-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 70px;
}

.highlight-content {
  background-color: rgb(31, 31, 31);
  padding: 30px;
  border-radius: 45px;
  color: white;
}

.darkbox {
  background-color:rgb(26, 26, 26);
  padding: 30px;
  border-radius: 25px;
  color: white;
}

.highlight-title {
  margin-bottom: 20px;
}

.flex-highlight-boxes {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.sunrise-time-container {
  display: flex;
}

.sunrise-time-left {
  flex: 1; 
  margin-right: 5px;
  padding: 25px;
}

.sunrise-time-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sunrise-time-top-right {
  flex: 1;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  align-content: center;
}

.sunrise-time-bottom-right {
  flex: 1;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-size: 30px;
}